html {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

.logo {
    order: 1;
}

.nav-bar {
    order: 2;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

@media (max-width:600px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nav-bar > ul {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: space-evenly;
}

.icon {
    color: darkorange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: flex;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
    margin: 20px;
}

footer {
    background-color: #ddd;
}

footer > ul {
    display: flex;
    flex-direction: row;    
    justify-content: flex-end;
}

span {
    display: flex;
    justify-content: flex-end;
}

.specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.level {
    font-weight: bold;
    background: #ddd;
    width: 100%;
    padding: 15px 0;
}

#pricing {
    display: flex;
    justify-content: center;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#submit {
    width: 150px;
    margin: 20px;
}

#email {
    width: 200px;
    height: 30px;
    margin: 20px;
    margin-bottom: 1px;
}

#how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@media (max-width: 651px) {
    .nav-bar > ul {
        flex-direction: column;
    }
}

.product {
    border: 1.5px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    text-align: center;
    width: calc(100%/3);   
    max-width: 300px; 
}

.btn {
    background-color: #f1c40f;
    color: black;
    text-transform: uppercase;
    box-shadow: none;
    margin: 5px;
    margin-bottom: 10px;
    width: 100px;
    cursor: pointer;
    border-radius: 3px;
    height: 40px;
    font-size: 1em;
}

@media (max-width: 800px) {
    #pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product {
        width: 60%;
    }
}